groups:
  - name: node-basic
    rules:
      # =========================
      # CPU usage (%)
      # =========================
      - record: node:cpu_usage:percent
        expr: |
          100 * (1 - avg by (instance) (
            rate(node_cpu_seconds_total{mode="idle"}[1m])
          ))

      # =========================
      # Memory usage (%)
      # =========================
      - record: node:memory_usage:percent
        expr: |
          100 * (
            1 - (
              node_memory_MemAvailable_bytes
              /
              node_memory_MemTotal_bytes
            )
          )

      # =========================
      # Disk usage (% per mountpoint)
      # =========================
      - record: node:disk_usage:percent
        expr: |
          100 * (
            1 - (
              node_filesystem_avail_bytes{fstype!~"tmpfs|overlay"}
              /
              node_filesystem_size_bytes{fstype!~"tmpfs|overlay"}
            )
          )
