name: Nix Flake CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  flake-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v23
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Setup Cache (Cachix optional)
        uses: cachix/cachix-action@v14
        with:
          name: nix-cache

      - name: Run `nix flake check`
        run: nix flake check --show-trace

      - name: Build NixOS systems
        run: |
          nix build .#nixosConfigurations.laptop-asus.config.system.build.toplevel
          nix build .#nixosConfigurations.laptop-thinkpad.config.system.build.toplevel
          nix build .#nixosConfigurations.wsl.config.system.build.toplevel
          nix build .#nixosConfigurations.vps.config.system.build.toplevel
